
* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #4a148c;
  text-decoration: none;
}

a:visited {
  color: #4a148c;
}

a:hover,
a:focus {
  color: #8e24aa;
  text-decoration: underline;
}

a:active {
  color: #8e24aa;
}

.socialicon svg {
  width: 36px;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #c158dc;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 12px;
  border-radius: 4px;
  border-bottom: 1px solid #F5F5F5; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 60% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #4a148c;
  text-transform: uppercase;
  border: 2px solid #4a148c;
}
.button.contact:hover {
  background-color: #ce93d8;
  color: #4a148c;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center; /* Centers text */
  color: #000000;
}

#hero p {
  color: #000000;
}

.logo {
  font-family: 'Major Mono Display', monospace;
  font-size: 24px;
  color: #000000 !important;
}

header {
  background-color: #F0F8FF;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-block;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav > ul > li > a:visited {
  color: #000000;
}

nav > ul > li > a:hover {
  color: #8e24aa;
}

nav > ul > li > a:active {
  color: #8e24aa;
}

#about {
  padding: 60px 0;
}

#hero {
  background-color: #B0C4DE;
  padding: 20px 0;
}

main {
  padding-top: 115px;
}
