* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.20em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

gate {
  width: 100%;
}

a {
  color: #4a148c;
  text-decoration: none;
}

a:visited {
  color: #4a148c;
}

a:hover,
a:focus {
  color: #8e24aa;
  text-decoration: underline;
}

a:active {
  color: #8e24aa;
}

.socialicon svg {
  width: 36px;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #483D8B;
  color: #F5F5F5 !important;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  border-bottom: 1px solid #F5F5F5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 60% */
}

.button.contact {
  background-color: transparent;
  color: #483D8B !important;
  padding: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  border: 2px solid #483D8B;
}

.button.contact:hover {
  background-color: #ce93d8;
  color: #4a148c;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  color: #000000;
}

#hero p {
  color: #000000;
  text-align: center;
}

#hero span {
  display: block;
  font-size: 80%; /* changed the font size to be 80% of it parent, the h1 */
  font-weight: 600;
  color:#000000;
  margin-top: 1em;
}

.logo {
  font-family: 'Major Mono Display', monospace;
  font-size: 24px;
  color: #000000 !important;
}

header {
  background-color: #E6E6FA;
  position: fixed;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
}

nav>ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: inline-block;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:visited {
  color: #000000;
}

nav>ul>li>a:hover {
  color: #8e24aa;
}

nav>ul>li>a:active {
  color: #8e24aa;
}

#about {
  padding: 10px 0;
}

#hero {
  background-color: #F0FFF0;
  padding: 10px 0;
}

main {
  padding-top: 115px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

footer {
  background: #E6E6FA;
  text-align: center;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
  width: 50%;
}

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
