* {
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1.35em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 1.20em;
  font-weight: 400;
  text-transform: uppercase;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

picture {
  width: 100%;
}

gate {
  width: 100%;
}

a {
  color: #4a148c;
  text-decoration: none;
}

a:visited {
  color: #4a148c;
}

a:hover,
a:focus {
  color: #8e24aa;
  text-decoration: underline;
}

a:active {
  color: #8e24aa;
}

.socialicon svg {
  width: 36px;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #483D8B;
  color: #F5F5F5 !important;
  /* needed to override the default link color */
  font-weight: 400;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  border-bottom: 1px solid #F5F5F5;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 60% */
}

.button.contact {
  background-color: transparent;
  color: #483D8B !important;
  padding: 8px;
  border-radius: 8px;
  text-transform: uppercase;
  border: 2px solid #483D8B;
}

.button.contact:hover {
  background-color: #ce93d8;
  color: #4a148c;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

#work .row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#work .row:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

#hero h1 {
  text-align: center;
  /* Centers text */
  color: #000000;
}

#hero p {
  color: #000000;
  text-align: center;
}

#hero span {
  display: block;
  font-size: 80%;
  /* changed the font size to be 80% of it parent, the h1 */
  font-weight: 600;
  color: #000000;
  margin-top: 1em;
}

.logo {
  font-family: 'Major Mono Display', monospace;
  font-size: 24px;
  color: #000000 !important;
  max-width: 150px;
}

header {
  background-color: #E6E6FA;
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:visited {
  color: #000000;
}

nav>ul>li>a:hover {
  color: #8e24aa;
}

nav>ul>li>a:active {
  color: #8e24aa;
}

#about {
  padding: 10px 0;
}

#hero {
  background-color: #F0FFF0;
  padding: 50px 0;
}

main {
  padding-top: 56px;
}

footer {
  background: #E6E6FA;
  text-align: center;
  padding-top: 1em;
}

.copy {
  margin-bottom: 0;
  padding-bottom: 1em;
  font-size: 80%;
  /* 80% of 16px, the parent.*/
}

.story {
  margin-bottom: 3em;
  /* 3 times the font size*/
}

.skillspart ul {
  list-style-type: none;
  padding: 0;
}

.credits {
  text-align: right;
}

.thumbsup {
  width: 100px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
  color: #000000;
}

.navtoggle.responsive li  {
  display: block;
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    min-width: 641px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 7px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  main {
    padding-top: 68px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about-page h3 {
    margin-top: 0;
  }

.desktop_screens {
  display: flex;
  flex-wrap: wrap;
}

.mobile_screens {
  display: flex;
  flex-wrap: wrap;
}

.myrole img {
  max-width: 250px;
}

.guiding_principles img {
  max-width: 300px;
}

.fivemobiles .row {
  display: flex;
  justify-content: space-between;
}

.user_illustration {
  width: 120px;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #about .row:nth-child(2) {
    text-align: center;
  }

  #about .row:nth-child(2) img {
    max-width: 500px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .abouttitle {
    text-align: center;
  }

  .mystorytitle {
    text-align: center;
  }

  .textaboutmyself {
    max-width: 700px;
    margin: auto;
  }

  .viewresumebutton {
    text-align: center;
  }

  .skillspart {
    max-width: 700px;
    margin: 0 auto;
  }

  .skillspart h2 {
    text-align: center;
  }

  .story {
    margin-bottom: 4em;
    /* 3 times the font size*/
  }

  .flex-row {
    display: flex;
    padding: 50px 0;
  }

  .flex-row .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

.avatar img {
  max-width: 120px;
  align: center;
}

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {}
